* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c07900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 24px;
    /* viewport height */
}

h1 {
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.679);
    font-size: 48px;
}

.clock-app {
    background-color: #ffffff35;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.33);
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 1rem;
    width: 700px;
    /* rem - root elementin font size (html) */
    /* em - parent elementin font size*/
}

.time-box {
    background-color: #ffffffa8;
    padding: 10px;
    border-radius: 5px;
    font-family: "Digital Numbers", sans-serif;
}

.hr {
    font-size: 64px;
    width: max-content;
}

.mn {
    font-size: 64px;
    width: max-content;
}

.sc {
    font-size: 64px;
    width: max-content;
}

button {
    background-color: rgba(255, 255, 255, 0.241);
    border: 1px solid rgba(255, 255, 255, 0.427);
    border-radius: 8px;
    padding: 10px 20px;

    transition: all 200ms ease-in-out;
}

button:hover,
button.active {
    background-color: rgba(255, 255, 255, 0.484);
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.dark-mode {
    background-color: rgb(105, 58, 0);
}